@use "../../styles/element-colors";

.element {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  aspect-ratio: 1;
  padding: 0.25rem;

  &__number {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-white);
    border-radius: 0 0 0.75rem 0;
    height: 1.5rem;
    width: 1.5rem;
    opacity: 0.25;
    color: var(--color-white);
  }

  &__weight {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
    font-size: var(--fs-small);
    opacity: 0.7;
  }

  &__symbol {
    font-size: var(--fs-xlarge);
    text-transform: uppercase;
    font-weight: 700;
  }

  &__name {
    position: absolute;
    font-size: var(--fs-medium);
    font-weight: var(--fw-bold);
    opacity: 0.8;
    bottom: 0.25rem;
  }
}
