:root {
  --color-white: #ffffff;

  --color-diatomic-nonmetal: #2a4165;
  --color-alkali-metal: #244d57;
  --color-alkaline-earth-metal: #622e39;
  --color-transition-metal: #433c65;
  --color-post-transition-metal: #2f4d47;
  --color-metalloid: #523e1b;
  --color-noble-gas: #623842;
  --color-lanthanide: #004a77;
  --color-actinide: #613b28;
  --color-unknown: #46474c;
}
