// Variables
$color-alkali-metals: #203f59;
$color-alkaline-earth-metals: #46718c;
$color-transition-metals: #6ebad8;
$color-post-transition-metals: #378cc8;
$color-metalloids: #e6a819;
$color-aktinoids: #8364b4;
$color-lanthanoids: #afa3c2;
$color-noble-gases: #e29755;
$color-other-non-metals: #e0b085;
$color-unknown: #cccccc;

$color-dark-gray: #333333;
$color-light-gray: #f3f3f3;
$color-white: #ffffff;

$font-stack: "Roboto", sans-serif;
