// Variables
$color-alkali-metals: darken(#203f59, 10%);
$color-alkaline-earth-metals: darken(#46718c, 15%);
$color-transition-metals: darken(#6ebad8, 15%);
$color-post-transition-metals: darken(#378cc8, 15%);
$color-metalloids: darken(#e6a819, 15%);
$color-aktinoids: darken(#8364b4, 15%);
$color-lanthanoids: darken(#afa3c2, 15%);
$color-noble-gases: darken(#e29755, 15%);
$color-other-non-metals: darken(#e0b085, 15%);
$color-unknown: #cccccc;

$color-dark-gray: #333333;
$color-light-gray: #f3f3f3;
$color-white: #ffffff;

$font-stack-body: "Lato", sans-serif;
$font-stack-headers: "Adamina", serif;
